 ##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
bin/

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
desktop.ini
noteApp/mvnw
noteApp/mvnw.cmd
noteApp/.mvn/wrapper/maven-wrapper.jar
noteApp/.mvn/wrapper/maven-wrapper.properties
desktop.ini
noteApp/.mvn/wrapper/maven-wrapper.jar
